.paises {
  margin-right: 2.5%;
  padding: 10px;
  background-color: rgba(151, 148, 148, 0.6);
  border: 1px solid #000000;
  border-radius: 10px;
  border-color: transparent;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.subContenedor {
  height: 70px;
  width: 120px;
}

.toolTip {
  width: 120px;
  position: absolute;
  font-size: 1.5em;
  opacity: 0;
  transition: 1s;
  background-color: #87ddfc;
}

.button {
  background-color: #dc4133;
  height: 80px;
  width: 130px;
  transition-duration: 1s;
}

.button:hover {
  transition-duration: 1s;
  background-color: rgba(234, 105, 90, 0.8);
  cursor: pointer;
}

.subContenedor:hover .toolTip {
  transition-duration: 1s;
  opacity: 1;
}

.contenedor img {
  height: 70px;
  width: 120px;
}

.paises label {
  text-align: start;
  font-size: 1.4em;
  font-weight: bolder;
}

.paises input {
  border-radius: 20px;
  background-color: #87ddfc;
  transition-duration: 1s;
  border-color: transparent;
  padding: 5px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.themeNigth {
  height: 100%;
  width: 100%;
  color: #2d3134;
  transition-duration: 1s;
  color: white;
  padding-bottom: 100px;
}

.themeDay {
  height: 100%;
  width: 100%;
  color: #2d3134;
  background-color: #c3c3c3;
  transition-duration: 1s;
  padding-bottom: 100px;
}
